html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  padding: 0px;
  background-color: #fff;
}

body {
  position: relative;
  background: var(--primary-color);
}

.is-hidden {
  display: none;
}

img,
a,
span {
  display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../../../assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../../../assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../../../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../../../assets/fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../../../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../../../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat/Montserrat-Italic.eot");
  src: url("../../../assets/fonts/Montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"), url("../../../assets/fonts/Montserrat/Montserrat-Italic.woff") format("woff"), url("../../../assets/fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat/Montserrat-Light.eot");
  src: url("../../../assets/fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../../../assets/fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../../../assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
*,
html,
body {
  font-family: "Montserrat";
  color: var(--primary-extra-light);
}

.title-wrapper__section-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: var(--gold-to-black);
}

.header__contacts {
  font-size: 25px;
}

.start-screen {
  user-select: none;
}
.start-screen__title {
  font-size: 68px;
}
.start-screen__column-item {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0.06em;
}

.menu__list-item {
  cursor: pointer;
}

:root {
  --primary-extra-light: #ffffff;
  --primary-color:#455a64;
  --primary-light:#718792;
  --primary-dark: 111,111,111;
  --primary-gold: #bdae82;
  --pane-padding: 5px 42px;
  --max-width:1440px;
  --padding-primary: 40px;
}

.title-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 80px;
  width: 50%;
  margin: 0px auto 30px auto;
}
.title-wrapper:before {
  position: absolute;
  content: "";
  top: 50%;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-gold);
}
.title-wrapper__section-title {
  position: absolute;
  margin: 0;
  padding: 0 20px;
  color: var(--primary-gold);
  background-color: var(--primary-color);
}

/*# sourceMappingURL=index.css.map */
