@use "../base";
@use "../components";
footer {
    width: 100%;
}
.footer__wrapper {
    max-width: var(--max-width);
    padding: 0 var(--padding-primary) 20px;
    display: flex;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-bottom: 30px;
    }
    .contacts__container {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        @media (max-width: 1024px) {
            align-items: center;
            flex-direction: column;
            gap: 30px;
            .footer__contacts{
                align-self: flex-start;
            }
        }

        .yandex__map {
            width: 45%;
            @media (max-width: 1024px) {
                width: 100%;
            }
            iframe {
                width: 100%;
                aspect-ratio: 3/2;
            }
            #ymaps1651786334678464887 {
                width: 100%;
                aspect-ratio: 3/2;
            }
        }

    }
}
