@use "../base";
@use "../base/variables" as var;
.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: var(--primary-dark);
    transition: all 0.5s;
    &--transparent {
        background: rgba(111, 111, 111, 0.9);
    }

    &__container {
        margin: 0 auto;
        max-width: var(--max-width);
        height: 65px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media (max-width: var.$tablet) {
            height: 40px;
        }
        @media (max-width: var.$mobile-m) {
            height: 30px;
        }
    }

    &__logo-img {
        width: 136px;
        fill: white;
        @media (max-width: var.$tablet) {
            width: 100px;
        }
        @media (max-width: var.$mobile-m) {
            width: 75px;
        }
    }

    &__contacts {
        @media (max-width: var.$tablet) {
            display: none;
        }
    }

    .menu {
        @media (max-width: var.$tablet) {
            display: none;
        }
        &__list {
            display: flex;
            justify-content: space-around;
        }
    }

    .main-page-menu {
        width: 40%;
    }

    .video-page-menu {
        width: 20%;
    }

    &__buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
    }
}
