@use "../base";

.header {
    position: fixed;
    width: 100%;
    background-color: rgba(var(--primary-dark), 0.3);
    // background: red;
}
.header__container {
    margin: 0 auto;
    max-width: var(--max-width);
    
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.menu {
    width: 40%;
    &__list {
        display: flex;
        justify-content: space-around;
    }
}
