@use "../base";

.header {
    position: fixed;
    z-index: 7;
    width: 100%;
    background-color: rgba(var(--primary-dark), 0.3);
    // background: red;
}
.header__container {
    margin: 0 auto;
    max-width: var(--max-width);
    
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo {
        // flex: 1;
    }

    nav {
        width: 40%;
        ul {
            display: flex;
            justify-content: space-around;
        }
    }
}
