@use "../base";
@use "../components";
@use "../base/variables" as var;

.portfolio {
    &__wrapper {
        max-width: var(--max-width);
        padding: 40px var(--padding-primary) 40px;
        margin: 0 auto;
        // overflow: hidden; // TODO: remove this
        @media (max-width: var.$mobile-m) {
            padding: 40px 10px 40px;
        }
    }
    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: var(--padding-primary);
        gap: 20px;
        width: 1120px;
        margin: 0 auto;

        @media (max-width: var.$laptop-m) {
            width: 700px;
        }

        @media (max-width: var.$tablet) {
            width: 400px;
            gap: 12px;
            button {
                width: 100px;
            }
        }

        @media (max-width: var.$mobile-m) {
            width: 265px;
        }
    }
    &__container {
        // height: 1150px;
        // grid-template-columns: repeat(4,var.$grid-ratio*150px); // old value
        grid-template-columns: repeat(4 * var.$grid-ratio, calc(300px / var.$grid-ratio));
        // grid-template-rows: repeat(4, calc(300px / var.$grid-ratio));
        width: min-content;
        display: grid;
        margin: 0 auto;
        grid-auto-flow: row dense;
        row-gap: calc(30px / var.$grid-ratio);
        column-gap: calc(30px / var.$grid-ratio);
        // gap: 15px;

        @media (max-width: var.$laptop-l) {
            grid-template-columns: repeat(4 * var.$grid-ratio, calc(300px / var.$grid-ratio));
        }
        @media (max-width: 1380px) {
            grid-template-columns: repeat(3 * var.$grid-ratio, calc(300px / var.$grid-ratio));
        }
        @media (max-width: 1070px) {
            grid-template-columns: repeat(2 * var.$grid-ratio, calc(300px / var.$grid-ratio));
        }
        @media (max-width: 700px) {
            width: 350px;
            grid-template-columns: repeat(2 * var.$grid-ratio, calc(300px / var.$grid-ratio/2));
            img {
                width: 150px;
            }
        }
        @media (max-width: 400px) {
            width: 300px;
            grid-template-columns: repeat(2 * var.$grid-ratio, 20px);
            img {
                width: 120px;
            }
        }

        .g1-2 {
            //
            grid-column: span var.$grid-ratio * 1;
            grid-row: span var.$grid-ratio * 2;
        }
        .g2-1 {
            grid-column: span var.$grid-ratio * 2;
            grid-row: span var.$grid-ratio * 1;
        }
        .g1-1 {
            grid-column: span var.$grid-ratio * 1;
            grid-row: span var.$grid-ratio * 1;
        }
        .g2-2 {
            grid-column: span var.$grid-ratio * 2;
            grid-row: span var.$grid-ratio * 2;
        }
        .g1-0_66 {
            grid-column: span var.$grid-ratio * 1;
            grid-row: span 4;
        }
        .g2-1_5 {
            grid-column: span var.$grid-ratio * 2;
            grid-row: span var.$grid-ratio * 1.5;
            height: -webkit-fill-available;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .g1-1_5 {
            grid-column: span var.$grid-ratio * 1;
            grid-row: span var.$grid-ratio * 1.5;
        }
    }
    // &__card {
    .portfolio__card {
        // !experimental start !
        height: -webkit-fill-available;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        // !  experimental end  !
        align-self: center;
        img {
            width: 100%; // TODO REMOVE THIS! discass with Vadim!
        }
        @media (max-width: var.$mobile-m) {
            img {
                width: 100%;
            }
        }
        img {
            @media (max-width: var.$tablet) {
                // width: 100%;
            }
        }
    }

    &__show-all{
        margin: auto;
        margin-top: 25px;
        // color: black;
        &.invisible{
            display: none;
        }
    }
}


.portfolio{
    .portfolio__container{
        .portfolio__card {
            .portfolio_{

            }
        }
    }
        
} 