@use "../base";
@use "../components";

.portfolio {
    &__wrapper {
        max-width: var(--max-width);
        padding: 40px var(--padding-primary) 0;
        margin: 0 auto;
    }

    &__container {
        height: 2000px;
        align-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;

    }

    &__card {
        width: 350px;
        img {
            // width: 350px;
            width: 100%;
        }
        // &1{
        //      // grid-column: span 2;
        // }
    }
}


