@use "../base";
@use "../components";
@use "../base/variables" as var;

.portfolio {
    &__wrapper {
        max-width: var(--max-width);
        padding: 40px var(--padding-primary) 0;
        margin: 0 auto;
        // overflow: hidden; // TODO: remove this
        @media (max-width: var.$mobile-m) {
            padding: 40px 10px 0;
        }
    }
    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: var(--padding-primary);
        gap: 20px;
    }
    &__container {
        // height: 1150px;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: repeat(4,1fr);
        width: min-content;
        display: grid;
        margin: 0 auto;    
        grid-auto-flow: row dense;
        gap: 15px;
        @media (max-width: var.$laptop-l) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width:1300px){
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 990px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 665px) {
            width: auto;
            // .g1-2,
            // .g2-1,
            // .g1-1{
            //     // grid-column: span 1;
            //     // grid-row: span 1;
                img{
                    // width: 120px;
                    width: 100%;
                    // object-fit: cover;
                    
                }
            // }
        }

        
        .g1-2 {
            grid-column: span 1;
            grid-row: span 2;
        }
        .g2-1 {
            grid-column: span 2;
            grid-row: span 1;
        }
        .g1-1 {
            grid-column: span 1;
            grid-row: span 1;
        }
        .g2-2{
            grid-column: span 2;
            grid-row: span 2;
        }
    }

    &__card {
        // width: 300px;
        // height: 300px; // TODO REMOVE THIS!

        @media (max-width: var.$mobile-m) {
            // width: 40%;
            img{
                width: 100%;
            }
            // width: fit-content;
        }
        @media (max-width: var.$mobile-s) {
        }
        img {
            @media (max-width: var.$tablet) {
                // width: 100%;
            }
        }
    }
}
