@use "../base";
@use "../components";

.portfolio {
    &__wrapper {
        max-width: var(--max-width);
        padding: 40px var(--padding-primary) 0;
        margin: 0 auto;
    }

    &__container {
        height: 1150px;
        align-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
        @media (max-width: 1800px ) {
            height: 1650px;
        }
        @media (max-width: 1400px) {
            height: 1800px;
        }
        @media (max-width: 1024px) {
            height: 2630px;
        }
        @media (max-width: 768px) {
            height: 5100px;
        }
    }

    &__card {
        width: 350px;
        img {
            // width: 350px;
            width: 100%;
        }
        // &1{
        //      // grid-column: span 2;
        // }
    }
}


