@use "../base/variables" as var;

.video-section {
    padding: 50px 0;
    &__container {
        max-width: 1200px;
        margin: 0px auto;
        padding: 0px 15px;
        @media (max-width: var.$mobile-m) {
            padding: 0px 5px;
        }
    }

    &__content {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        @media (max-width: var.$mobile-m) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
        @media (max-width: var.$mobile-s) {
            grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        }
    }
}
