@use "../base";
@use "../base/variables" as var;

.contacts {
    width: 100%;

    &__container {
        max-width: var(--max-width);
        padding: 0 var(--padding-primary) 20px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        h1 {
            margin-bottom: 30px;
        }
    }

    &__inner {
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 5%;
        @media (max-width: var.$laptop) {
            align-items: center;
            flex-direction: column;
        }
    }

    &__form {
        width: 40%;

        @media (max-width: var.$laptop) {
            width: 60%;
        }

        @media (max-width: 550px) {
            width: 100%;
        }
    }

    &__email-input,
    &__phone-input,
    &__textarea {
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid var(--primary-light);
        width: 100%;
        border-radius: 8px;
    }

    &__email-input,
    &__phone-input {
        height: 50px;
        padding: 5px 0px 0px 20px;
        margin: 0px 0px 20px 0px;
        display: block;
    }

    &__textarea {
        resize: none;
        height: 100px;
        padding: 5px 0px 0px 20px;
        margin: 0px 0px 30px 0px;
        display: block;
    }

    &__button {
        width: 185px;
        height: 60px;
        @media (max-width: var.$laptop) {
            margin: 0 auto;
        }

        @media (max-width: var.$tablet) {
            width: 165px;
            height: 45px;
        }

        @media (max-width: var.$mobile-s) {
            width: 145px;
            height: 35px;
        }
    }
}
