@use "../base/variables" as var;

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    &__container {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--max-width);
        padding: 0 120px;
        margin: 0 auto;
        @media (max-width: var.$mobile-m) {
            margin: 0px auto 0px 0px;
            width: 80%;
            padding: 0 15px;
        }
    }

    &__copyright{
        display: block;
        @media (max-width: var.$tablet) {
            width: 20%;
        }
    }

    &__links-list {
        width: 170px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: var.$tablet) {
            gap: 10px;
            width: 50%;
        }
    }

    &__svg-icon {
        width: 27px;
        height: 27px;
        fill: var(--primary-extra-light);
        &:hover {
            transition: 0.4s;
            fill: var(--primary-light);
        }

        @media (max-width: var.$tablet) {
            width: 17px;
            height: 17px;
        }
    }
}
