



@media (max-width: 1279px) {

  .video-player-wrapper svg {
    width: 25px;
    height: 25px;
  } 

  .video-player-wrapper:hover .video-controls {
    bottom: 0px;
  }

  .progress-bar {
    width: 40%;
    -webkit-appearance: none;
  }


  .timer span {
    font-size: 16px;
  }

  .volume-range {
    width: 10vh;
  }

  .settings-menu {
    height: 280px;
  }
  .settings-menu span {
    font-size: 13px;
  }
}












@media (max-width: 768px) {

  #video {
    height: 628px;
    padding-top: 80px;
  }

  #video .title-wrapper {
    margin-bottom: 50px;
  }

  .video-player-wrapper {
    width: 100%;
    height: auto;
    background-size: auto 100%;
    background-position: -10px;

  }

  .video-player-wrapper .start-button-wrapper {
    width: 64.62px;
    height: 62.69px;
  }

  .start-button {
    width: 64.62px;
    height: 62.69px;
  }

  .settings-menu {
    height: 250px;
  }
  .settings-menu span {
    font-size: 11px;
  }

  .volume-range {
    width: 51px;
  }

  .volume-settings {
    width: 20%;
    justify-content: space-between;
  }


}





@media (max-width: 766px) {


  .video-player-wrapper svg {
    width: 20px;
    height: 20px;
  } 

  .progress-bar {
    width: 35%;
  }


  .timer span {
    font-size: 11px;
  }

  .settings-menu {
    height: 240px;
    bottom: 35px;
  }
  .settings-menu span {
    font-size: 11px;
  }

}






@media (max-width: 620px) {

  #video {
    height: 450px;
  }

  .video-player-wrapper {
    background-size: 100%;
    background-position: 0px 10px;
  }

  .video-player-wrapper:hover .video-controls {
    bottom: 5px;
  }

  .video-player-wrapper button {
    width: 20px;
    height: 20px;
  }


  .video-player-wrapper svg {
    width: 15px;
    height: 15px;
  } 

  .progress-bar {
    width: 20%;
  }


  .timer span {
    font-size: 9px;
  }

  .settings-menu span {
    font-size: 11px;
  }

  .settings-menu {
    bottom: 25px;
  }

}







@media (max-width: 467px) {


  #video{
    padding-top: 10px;
    padding-bottom: 10px;
  }


  #video {
    height: 350px;
  }


}

