  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *, *::after, *::before {
    box-sizing: inherit;
  }

  :root { 
    --white-to-black: #ffffff;
    --white-to-gold: #ffffff;
    --black-to-white: #000000;
    --black-to-gold: #000000;
    --gold-to-white: #bdae82;
    --gold-to-black: #bdae82;

    --line-height40: 40px;
  }

  body {
    font-family: "Inter";
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    background-color: var(--black-to-white);
    /*  max-width: 1440px;
    margin: 0 auto;*/
  }













  










  










  /*start Video section*/
  #video {
    height: 945px;
    padding-top: 100px;

  }

  .video-player-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* height: 705px; */
    overflow: hidden;
  }

  .video-player-wrapper button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 0;
  }

 .video-player-wrapper svg {
    display: block;
    width: 35px;
    height: 35px;
    fill: var(--white-to-gold);
    transition: .5s;
    cursor: pointer;
  } 

  .video-player {
    width: 97.22%;
  }

  .video-controls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -50px;
    transition: 1s;
  }

  .video-player-wrapper:hover .video-controls {
    bottom: 10px;
  }

  .play-video {
    margin-left: 1.64%;
  }

  .start-button.disappearance,
  .stop-button-svg.disappearance,
  .play-button-svg.disappearance,
  .fullscreen-svg.disappearance,
  .exit-fullscreen-svg.disappearance,
  .volume-svg.disappearance,
  .mute-svg.disappearance,
  .start-button-wrapper.disappearance{
    display: none;
  }

  .video-controls.disappearance,
  .video-player-wrapper:hover .video-controls.disappearance {
    bottom: -50px;
  }


  .progress-bar {
    width: 50%;
    -webkit-appearance: none;
    
  }

  .progress-bar-range {
    width: 100%;
  }

  .timer {
    display: flex;
  }
  .timer span {
    display: block;
    color: var(--white-to-gold)
  }

  .volume-settings {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 13%;
  }

  .fullscreen {
    margin-right: 1.428%;
  }


  .settings-menu {
    background-color: var(--black-to-white);
    color: var(--white-to-black);
    bottom: 55px;
    right: 35px;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
  }

  .settings-menu span {
    display: block;
    text-align: center;
    transition: .5s;
    cursor: pointer;
  }

  .settings-menu span:hover{
    color:#bdae82;
  }

  span.settings-header {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: default;
  }

  .settings-menu .settings-header:hover{
    color: var(--white-to-black);
  }
  span.settings-close {
    text-align: right;
    color: #bdae82;
  }

  span.settings-close:hover {
    color: #bdae82;
  }

  .settings-menu.disappearance{
    display: none;
  }

  span.video-speed.active,
  span.video-skip.active{
    background-color: #bdae82;
  }

  span.video-speed.active:hover,
  span.video-skip.active:hover{
    background-color: #bdae82;
    color: var(--black-to-white);
  }


  /* .video-player-wrapper input[type=range] {

  } */





  .video-player-wrapper .start-button-wrapper {
    position: absolute;
    background-color: transparent;
    border: 0;
    width: 130px;
    height: 130px;
    cursor: pointer;
  }


  .video-player-wrapper svg:hover {
    fill: var(--gold-to-white);
  }

  .video-player-wrapper .start-button {
    /*background-size: contain;
  background-repeat: no-repeat; */
    fill: #ffffff;
    width: 130px;
    height: 130px;
    transition: 0.5s;
  }

  .video-player-wrapper .start-button:hover {
    fill: #bdae82;
  }


  /*end Video section*/





 