
$border-color: #f5f5f6;

.contacts-window__wrapper {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    bottom: 10px;
    right: 0px;
    
    transition: all 0.5s;
    // transform: scale(0.01);
    // z-index: -1;
    &.open {
        z-index: 10; //TODO check!
        transition: all 0.5s;
        // width: 340px;
        width: 100vw;
        margin: 0 auto;
        height: 555px;
    }
    .contacts-window__container {
        position: relative;
        background: #1c313a;
        width: 0;
        height: 0;
        padding: 40px 15px 0px 15px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        gap: 30px;
        transform: scale(0.1);
        transition: all 0.5s;
        overflow: hidden;
        top: 90%;
        left: 90%;
        z-index: -1;
        &.open {
            z-index: 20; //TODO check!
            top: 0;
            left: 0;
            transition: all 0.5s;
            width: 340px;
            height: 494px;
            transform: scale(1);
        }
        .contacts-window__h2 {
            text-align: center;
            font-size: 24px;
        }
        .contacts-window__connect {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .contacts-window__icons-container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
            .contacts-window__phone-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                border: 2px solid $border-color;
                gap: 10px;
            }
        }

        .contacts-window__order-call {
            .contacts-window__form {
                font-size: 20px;
                color: #989898;
                display: flex;
                flex-direction: column;
                gap: 10px;
                input {
                    border-radius: 10px;
                    text-align: left;
                    padding: 10px;
                    height: 30px;
                    color: #000000;
                    border: none;
                    -moz-appearance: textfield;
                }
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
                .contacts-window__button-send {
                    color: white;
                    background: transparent;
                    text-decoration: none;
                    border: none;
                    align-self: center;
                    width: 218px;
                    border-bottom: 1px solid white;
                }
            }
        }

        .contacts-window__text-me {
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: relative;
            .contacts-window__border-main {
                overflow: hidden;
                width: 305px;
                height: 33px;
                border: 2px solid white;
                border-radius: 10px;
                background: #1c313a;
                text-align: center;
                font-size: 20px;
                text-align: center;
                padding: 2px;
                position: relative;

            }
            .contacts-window__decorate-border-container {
            }

            .contacts-window__border-test{
                width: 283px;
                height: 15px;
                border: 2px solid white;
                border-radius: 10px;
                position: absolute;
                &.decore--up{
                    top: 40px;
                    left: 10px;
                }
                &.decore--down{
                    top: 72px;
                    left: 10px;
                }
                // transform: translateY(-10px);
            }

        }
    }
    .contacts-window__button {
        width: 50px;
        height: 50px;
        border: 1px solid $border-color;
        border-radius: 50%;
        position: absolute;
        
        // align-self: flex-end;
        position: fixed;
        // top: 0;
        right: 0px;
        bottom: 10px;
    }
}



            // .contacts-window__border {
            //     display: none; // ! del
            //     width: 283px;
            //     height: 45px;
            //     top: -39px;
            //     left: 11px;
            //     // z-index: -1;
            //     position: relative;
            //     border: 2px solid white;
            //     border-radius: 10px;
            // }

                        // .contacts-window__border-test-down {
            //     top: 10px;
            //     width: 283px;
            //     height: 15px;
            //     border: 2px solid white;
            //     border-radius: 10px;
            //     top: -10px;
            // }

                            // &::before{
                //     position: absolute;
                //     content: '';
                //     width: 283px;
                //     height: 45px;
                //     top: -8px;
                //     left: 10px;
                //     border: 2px solid red;
                //     // z-index: -1;
                //     border-radius: 10px;
                // }