@forward "./section-header";
@forward "./buttons";
@forward "./hamburger";
@forward "./burger_menu";
@forward "./switch_lang";
@forward "./messengers-window";
@forward "./modal-window";
@forward "./yandex-map";
@forward "./video-player";
@forward "./video-galery";
@forward "./contacts-window";
@forward "./spinner";