@use "../base/variables" as var;

.messengers-window {
    position: fixed;
    // background: var(--primary-color);
    background: transparent;
    opacity: 0.98;
    // height: 50px;
    width: fit-content;
    bottom: 50px;
    right: 20px;
    z-index: 10;
    &__svg-icon {
        width: 45px;
        height: 45px;
        @media (max-width: var.$tablet) {
            width: 35px;
            height: 35px;
        }
        svg {
            width: 45px;
            height: 45px;
            @media (max-width: var.$tablet) {
                width: 35px;
                height: 35px;
            }
        }
        &.phone {
            transform: rotate(0deg);
            &.phone--rotate {
                transition: all 0.5s;
                transform: rotate(-360deg);
            }
            &.phone--rotate-return {
                transition: all 0.5s;
                // transform: rotate(720deg);
            }
        }
    }
    &--hidden {
        height: 45px;
        // overflow: hidden;
        @media (max-width: var.$tablet) {
            width: 35px;
            height: 35px;
        }
    }
    &__links-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        bottom: 75px;
        transition: all 0.3s;
        &.messengers-window--hidden {
            bottom: -75px;
            right: 21px;
            transition: all 0.3s;
            svg {
                width: 8px;
            }
            @media (max-width: var.$tablet) {
                right: -10px;
            }
        }
    }
    
}
