@use "../base/variables" as var;
// @use "./buttons";

.modal-window__wrapper {
    // display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 0;
    height: 0;
    max-width: 100%;
    z-index: 100;
    // background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    // &:hover .modal-window__close-button {
    //     background-color: var(--primary);
    // }
    // transform: scale(0.1);
    &.visible .modal-window__container {
        display: flex;
        transform: scale(1);
    }

    &.visible {
        width: 100vw;
        height: 100vh;
        display: flex;
        padding: 10%;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
        .modal-window__mouse,
        .modal-window__right-button,
        .modal-window__left-button,
        .modal-window__close-button {
            display: flex;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    .modal-window__container {
        justify-content: space-between;
        position: absolute; // тронул
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        justify-content: center;
        align-items: center;
        // background-color: var(--primary-light);
        border-radius: 1.2%;
        transform: translate(0px, 0px);
        transform: scale(0);
        transition: transform 0.5s;
        &.prev--slide {
            transition: transform 0.5s;
            transform: translate(-100vw, 0px);
        }
        &.next--slide {
            transition: transform 0.5s;
            transform: translate(100vw, 0px);
        }
        &.current--slide {
            transition: transform 0.5s;
            transform: translate(0px, 0px);
        }
        &.up {
            transform: translate(0px, 100vh);
        }
        &.down {
            transform: translate(0px, -100vh);
        }
        img {
            display: block;
            width: 100%;
            height: 100%; //!ЗАКОМЕНТИРОВАНО ЧТОБЫ ПРОВЕРИТЬ РАБОТОСПОСОБНОСТЬ БЕЗ ЭТОГО СВОЙСТВА
            max-height: calc(100vh - 2.25rem);
            max-width: 91vw;
            object-fit: contain; //!ЗАКОМЕНТИРОВАНО ЧТОБЫ ПРОВЕРИТЬ РАБОТОСПОСОБНОСТЬ БЕЗ ЭТОГО СВОЙСТВА
            align-self: center; //!ЗАКОМЕНТИРОВАНО ЧТОБЫ ПРОВЕРИТЬ РАБОТОСПОСОБНОСТЬ БЕЗ ЭТОГО СВОЙСТВА
        }
    }

    // &:hover &__close-button {
    //     background-color: transparent;
    // }
    // & &__close-button:hover {
    //     background-color: var(--primary);
    // }
    .modal-window__mouse {
        display: none;
        position: absolute;
        height: 50vh;
        width: 80px;
        cursor: pointer;
        z-index: 102;
        border: 1px solid red;
        &.area-right {
            right: 3px;
        }
        &.area-left {
            left: 3px;
        }
    }
    
    .modal-window__close-button {
        display: none;
    }
    .modal-window__right-button,
    .modal-window__left-button {
        display: none;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 101;
        position: absolute;
    }
    .modal-window__right-button {
        // bottom: -60px;
        // right: 35%;
        right: 0;
        z-index: 101;
        position: absolute;
        transition: 0.5s;
        @media (max-width: 768px) {
        }
    }

    .modal-window__left-button {
        // bottom: -60px;
        // left: 35%;
        left: 0;
        z-index: 101;
        position: absolute;
        transition: 0.5s;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .modal-window__close-button {
        top: 15px;
        right: 15px;
        position: absolute;
        transition: 0.5s;
        z-index: 102;
        @media (max-width: 768px) {
            top: -32px;
            right: -32px;
        }
    }
    .modal-window__mouse-close{
        position: absolute;
        // z-index: 102;
        width: 100vw;
        height: 150px;
        border: 1px solid red;
        cursor: pointer;
        &.area-up{
            top: 0;
        }
        &.area-down{
            top: calc(100vh - 150px);
        }
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        border: 0;
        backdrop-filter: blur(10px);
        background-color: var(--primary-extra-light);
        .modal-window__cross,
        .modal-window__arrow-left,
        .modal-window__arrow-right {
            width: 30%;
            height: 30%;
            fill: var(--primary-extra-dark);
        }
    }
}

// ! TODO check it
// TODO
.modal-window__wrapper.visible .modal-window__container {
    align-content: center;
}
.modal-window__wrapper.visible {
    align-content: center;
}
