@use "../base";
@use "../base/variables" as var;

.title-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 445px;
    margin: 0px auto 30px auto;
    @media (max-width: var.$tablet) {
        height: 65px;
    }

    @media (max-width:var.$mobile-m){
        height: 52px;
        width: 300px;
    }

    @media (max-width:var.$mobile-s){
        height: 42px;
        width: 90%;
    }

    &:before {
        position: absolute;
        content: "";
        top: calc(50%);
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--primary-gold);
        // background-color: var(--primary-extra-light);
    }

    &__section-title {
        position: absolute;
        margin: 0;
        padding: 0 20px;
        background-color: var(--primary-color);
    }
}
