@use "../base/variables" as var;
.switch-lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  height: 50px;

  @media (max-width: var.$tablet) {
    height: 40px;
}

  &--header {
    @media (max-width: var.$tablet) {
      display: none;
    }
  }

  &--burger {
    margin-left: 20px;
  }
}

.slash {
  display: block;
}

.en,
.ru {
  display: block;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  &.active {
    border-bottom: 3px solid var(--primary-gold);
  }
}
