:root { 
    --white-to-black: #ffffff;
    --white-to-gold: #ffffff;
    --black-to-white: #000000;
    --gold-to-white: #bdae82;
  }





  /*start Video section*/
  #video-section {
    height: 945px;
    padding-top: 100px;

  }

  .video-player {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* height: 705px; */
    overflow: hidden;
  }

  .video-player button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 0;
  }

 .video-player svg {
    display: block;
    width: 35px;
    height: 35px;
    fill: var(--white-to-gold);
    transition: .5s;
    cursor: pointer;
  } 

  .video-player__video {
    width: 97.22%;
  }

  .video-controls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -50px;
    transition: 1s;
  }

  .video-player:hover .video-controls {
    bottom: 10px;
  }

  .play-video {
    margin-left: 1.64%;
  }

  .start-button.disappearance,
  .stop-button-svg.disappearance,
  .play-button-svg.disappearance,
  .fullscreen-svg.disappearance,
  .exit-fullscreen-svg.disappearance,
  .volume-svg.disappearance,
  .mute-svg.disappearance,
  .start-button-wrapper.disappearance{
    display: none;
  }

  .video-controls.disappearance,
  .video-player:hover .video-controls.disappearance {
    bottom: -50px;
  }


  .progress-bar {
    width: 50%;
    -webkit-appearance: none;
    
  }

  .progress-bar-range {
    width: 100%;
  }

  .timer {
    display: flex;
  }
  .timer span {
    display: block;
    color: var(--white-to-gold)
  }

  .volume-settings {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 13%;
  }

  .fullscreen {
    margin-right: 1.428%;
  }


  .settings-menu {
    background-color: var(--black-to-white);
    color: var(--white-to-black);
    bottom: 55px;
    right: 35px;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 640px;
    padding: 10px;
    border-radius: 10px;
  }

  .settings-menu span {
    display: block;
    text-align: center;
    transition: .5s;
    cursor: pointer;
  }

  .settings-menu span:hover{
    color:#bdae82;
  }

  span.settings-header {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: default;
  }

  .settings-menu .settings-header:hover{
    color: var(--white-to-black);
  }
  span.settings-close {
    text-align: right;
    color: #bdae82;
  }

  span.settings-close:hover {
    color: #bdae82;
  }

  .settings-menu.disappearance{
    display: none;
  }

  span.video-speed.active,
  span.video-skip.active{
    background-color: #bdae82;
  }

  span.video-speed.active:hover,
  span.video-skip.active:hover{
    background-color: #bdae82;
    color: var(--black-to-white);
  }


  /* .video-player input[type=range] {

  } */





  .video-player .start-button-wrapper {
    position: absolute;
    background-color: transparent;
    border: 0;
    width: 130px;
    height: 130px;
    cursor: pointer;
  }


  .video-player svg:hover {
    fill: var(--gold-to-white);
  }

  .video-player .start-button {
    /*background-size: contain;
  background-repeat: no-repeat; */
    fill: #ffffff;
    width: 130px;
    height: 130px;
    transition: 0.5s;
  }

  .video-player .start-button:hover {
    fill: #bdae82;
  }




  /************************************************************/
  /************************************************************/
  /************************************************************/
  /************************************************************/
  /************************************************************/
  /************************************************************/
  /************************************************************/
  /************************************************************/
  /************************************************************/


  



@media (max-width: 1279px) {

    .video-player svg {
      width: 25px;
      height: 25px;
    } 
  
    .video-player:hover .video-controls {
      bottom: 0px;
    }
  
    .progress-bar {
      width: 40%;
      -webkit-appearance: none;
    }
  
  
    .timer span {
      font-size: 16px;
    }
  
    .volume-range {
      width: 10vh;
    }
  
    .settings-menu {
      height: 280px;
    }
    .settings-menu span {
      font-size: 13px;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  @media (max-width: 768px) {
  
    #video-section {
      height: 628px;
      padding-top: 80px;
    }
  
    #video-section .title-wrapper {
      margin-bottom: 50px;
    }
  
    .video-player {
      width: 100%;
      height: auto;
      background-size: auto 100%;
      background-position: -10px;
  
    }
  
    .video-player .start-button-wrapper {
      width: 64.62px;
      height: 62.69px;
    }
  
    .start-button {
      width: 64.62px;
      height: 62.69px;
    }
  
    .settings-menu {
      height: 250px;
    }
    .settings-menu span {
      font-size: 11px;
    }
  
    .volume-range {
      width: 51px;
    }
  
    .volume-settings {
      width: 20%;
      justify-content: space-between;
    }
  
  
  }
  
  
  
  
  
  @media (max-width: 766px) {
  
  
    .video-player svg {
      width: 20px;
      height: 20px;
    } 
  
    .progress-bar {
      width: 35%;
    }
  
  
    .timer span {
      font-size: 11px;
    }
  
    .settings-menu {
      height: 240px;
      bottom: 35px;
    }
    .settings-menu span {
      font-size: 11px;
    }
  
  }
  
  
  
  
  
  
  @media (max-width: 620px) {
  
    #video-section {
      height: 450px;
    }
  
    .video-player {
      background-size: 100%;
      background-position: 0px 10px;
    }
  
    .video-player:hover .video-controls {
      bottom: 5px;
    }
  
    .video-player button {
      width: 20px;
      height: 20px;
    }
  
  
    .video-player svg {
      width: 15px;
      height: 15px;
    } 
  
    .progress-bar {
      width: 20%;
    }
  
  
    .timer span {
      font-size: 9px;
    }
  
    .settings-menu span {
      font-size: 11px;
    }
  
    .settings-menu {
      bottom: 25px;
    }
  
  }
  
  
  
  
  
  
  
  @media (max-width: 467px) {
  
  
    #video-section{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
  
    #video-section {
      height: 350px;
    }
  
  
  }
  
  