:root { 
    --black-to-white: #000000;
    --gold-to-white: #bdae82;
  }



  /*start Video section*/
  #video-section {
    height: 945px;
    padding-top: 100px;

  }

  .video-player {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* height: 705px; */
    overflow: hidden;
  }

  .video-player button {
    background-color: transparent;
    border: none;
  }

 .video-player svg {
    display: block;
    fill: white;
    transition: .4s;
    cursor: pointer;
  } 

  .video-player svg:hover {
    fill: var(--gold-to-white);
  }

  .video-player__video {
    width: 97.22%;
  }

  .video-player__controls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -50px;
    transition: 1s;
  }

  .video-player:hover .video-player__controls {
    bottom: 10px;
  }

  .video-player__play {
    margin-left: 1.64%;
    width: 45px;
    height: 45px;
  }

  .video-player__backward,
  .video-player__forward,
  .video-player__volume-button,
  .video-player__settings,
  .video-player__fullscreen {
    width: 45px;
    height: 45px;
  }

  .video-player button svg {
    width: 100%;
    height: 100%;
  }

  .video-player__start-button-svg.disappearance,
  .video-player__stop-svg.disappearance,
  .video-player__play-svg.disappearance,
  .video-player__fullscreen-svg.disappearance,
  .video-player__exit-fullscreen-svg.disappearance,
  .video-player__volume-svg.disappearance,
  .video-player__mute-svg.disappearance,
  .video-player__start-button.disappearance{
    display: none;
  }

  .video-player__controls.disappearance,
  .video-player:hover .video-player__controls.disappearance {
    bottom: -50px;
  }


  .video-player__progress-bar-container {
    width: 50%;
    -webkit-appearance: none;
  }

  .video-player__progress-bar {
    width: 100%;
  }

  .video-player__timer {
    display: flex;
  }
  .video-player__timer span {
    display: block;
    color: white;
  }

  .video-player__volume-settings {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 13%;
  }

  .video-player__fullscreen {
    margin-right: 1.428%;
  }


  .settings-menu {
    background-color: var(--black-to-white);
    color: white;
    bottom: 55px;
    right: 35px;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 640px;
    padding: 10px;
    border-radius: 10px;
  }

  .settings-menu span {
    display: block;
    text-align: center;
    transition: .5s;
    cursor: pointer;
  }

  .settings-menu span:hover{
    color:#bdae82;
  }

  span.settings-menu__header {
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: default;
  }

  .settings-menu .settings-menu__header:hover{
    color: white;
  }

  span.settings-menu__close{
    text-align: right;
    color: white;
  }

  span.settings-menu__close:hover {
    color: #bdae82;
  }

  .settings-menu.disappearance{
    display: none;
  }

  span.settings-menu__video-speed.active,
  span.settings-menu__video-skip.active{
    background-color: #bdae82;
  }

  span.settings-menu__video-speed.active:hover,
  span.settings-menu__video-skip.active:hover{
    background-color: #bdae82;
    color: var(--black-to-white);
  }


  /* .video-player input[type=range] {

  } */





  .video-player__start-button {
    position: absolute;
    cursor: pointer;
    width: 130px;
    height: 130px;
  }

 .video-player__start-button-svg {
    /*background-size: contain;
  background-repeat: no-repeat; */
    fill: #ffffff;
    transition: 0.5s;
  }

  .video-player__start-button-svg:hover {
    fill: #bdae82;
  }




  /************************************************************/
  /************************************************************/
  /************************************************************/
  /************************************************************/
  /************************************************************/
  /************************************************************/
  /************************************************************/
  /************************************************************/
  /************************************************************/


  



@media (max-width: 1279px) {

    .video-player svg {
      width: 25px;
      height: 25px;
    } 
  
    .video-player:hover .video-player__controls {
      bottom: 0px;
    }
  
    .video-player__progress-bar-container {
      width: 40%;
      -webkit-appearance: none;
    }
  
  
    .video-player__timer span {
      font-size: 16px;
    }
  
    .video-player__volume-range {
      width: 10vh;
    }
  
    .settings-menu {
      height: 280px;
    }
    .settings-menu span {
      font-size: 13px;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  @media (max-width: 768px) {
  
    #video-section {
      height: 628px;
      padding-top: 80px;
    }
  
    #video-section .title-wrapper {
      margin-bottom: 50px;
    }
  
    .video-player {
      width: 100%;
      height: auto;
      background-size: auto 100%;
      background-position: -10px;
  
    }

    .video-player__start-button-svg{
      width: 64.62px;
      height: 62.69px;
    }
  
    .settings-menu {
      height: 250px;
    }
    .settings-menu span {
      font-size: 11px;
    }
  
    .video-player__volume-range {
      width: 51px;
    }
  
    .video-player__volume-settings {
      width: 20%;
      justify-content: space-between;
    }
  
  
  }
  
  
  
  
  
  @media (max-width: 766px) {
  
  
    .video-player svg {
      width: 20px;
      height: 20px;
    } 
  
    .video-player__progress-bar-container {
      width: 35%;
    }
  
  
    .video-player__timer span {
      font-size: 11px;
    }
  
    .settings-menu {
      height: 240px;
      bottom: 35px;
    }
    .settings-menu span {
      font-size: 11px;
    }
  
  }
  
  
  
  
  
  
  @media (max-width: 620px) {
  
    #video-section {
      height: 450px;
    }
  
    .video-player {
      background-size: 100%;
      background-position: 0px 10px;
    }
  
    .video-player:hover .video-player__controls {
      bottom: 5px;
    }
  
    .video-player button {
      width: 20px;
      height: 20px;
    }
  
  
    .video-player svg {
      width: 15px;
      height: 15px;
    } 
  
    .video-player__progress-bar-container {
      width: 20%;
    }
  
  
    .video-player__timer span {
      font-size: 9px;
    }
  
    .settings-menu span {
      font-size: 11px;
    }
  
    .settings-menu {
      bottom: 25px;
    }
  
  }
  
  
  
  
  
  
  
  @media (max-width: 467px) {
  
  
    #video-section{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
  
    #video-section {
      height: 350px;
    }
  
  
  }
  
  