@use "../base/variables" as var;

#video-section {
    height: 945px;
    padding-top: 100px;

    @media (max-width: var.$tablet) {
        height: 628px;
        padding-top: 80px;
    }

    @media (max-width: 620px) {
        height: 450px;
    }

    @media (max-width: 467px) {
        height: 350px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.video-player {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* height: 705px; */
    overflow: hidden;

    @media (max-width: var.$tablet) {
        width: 100%;
        height: auto;
        background-size: auto 100%;
        background-position: -10px; //*****
    }

    @media (max-width: 620px) {
        background-size: 100%;
        background-position: 0px 10px; //*****
    }

    button {
        background-color: transparent;
        border: none;
        @media (max-width: 620px) {
            width: 20px;
            height: 20px;
        }
    }

    svg {
        display: block;
        fill: white;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
            fill: #bdae82;
        }

        @media (max-width: var.$tablet) {
            width: 20px;
            height: 20px;
        }

        @media (max-width: 620px) {
            width: 15px;
            height: 15px;
        }
    }

    & button svg {
        width: 100%;
        height: 100%;
    }

    &__backward,
    &__forward,
    &__volume-button,
    &__settings,
    &__fullscreen {
        width: 45px;
        height: 45px;
        @media (max-width: var.$laptop-m) {
            width: 35px;
            height: 35px;
        }
    }

    &__start-button-svg.disappearance,
    &__stop-svg.disappearance,
    &__play-svg.disappearance,
    &__fullscreen-svg.disappearance,
    &__exit-fullscreen-svg.disappearance,
    &__volume-svg.disappearance,
    &__mute-svg.disappearance,
    &__start-button.disappearance {
        display: none;
    }

    &__video {
        width: 97.22%;
    }

    &__start-button {
        position: absolute;
        cursor: pointer;
        width: 130px;
        height: 130px;

        @media (max-width: var.$tablet) {
            width: 65px;
            height: 65px;
        }
    }

    &__controls {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: -50px;
        transition: 1s;
    }

    &:hover &__controls {
        bottom: 10px;
        @media (max-width: var.$laptop-m) {
            bottom: 0px;
        }

        @media (max-width: 620px) {
            bottom: 5px;
        }
    }

    &__controls.disappearance,  //!wtf
    &:hover &__controls.disappearance {
        bottom: -50px;
    }

    &__play {
        margin-left: 1.64%;
        width: 45px;
        height: 45px;
    }

    &__progress-bar-container {
        width: 50%;
        -webkit-appearance: none;

        @media (max-width: var.$laptop-m) {
            width: 40%;
        }

        @media (max-width: var.$tablet) {
            width: 35%;
        }

        @media (max-width: 620px) {
            width: 20%;
        }
    }

    &__progress-bar {
        width: 100%;
    }

    &__timer {
        display: flex;
        span {
            display: block;
            color: white;

            @media (max-width: var.$laptop-m) {
                font-size: 16px;
            }

            @media (max-width: var.$tablet) {
                font-size: 11px;
            }

            @media (max-width: 620px) {
                font-size: 9px;
            }
        }
    }

    &__volume-settings {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 13%;

        @media (max-width: var.$tablet) {
            width: 20%;
            justify-content: space-between;
        }
    }

    &__volume-range {
        @media (max-width: var.$laptop-m) {
            width: 10vh;
        }

        @media (max-width: var.$tablet) {
            width: 51px;
        }
    }

    &__fullscreen {
        margin-right: 1.428%;
    }

    /* .video-player input[type=range] {

  } */
}

//*
//*
//*
//*
//*

.settings-menu {
    background-color: black;
    color: white;
    bottom: 55px;
    right: 35px;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 640px;
    padding: 10px;
    border-radius: 10px;

    @media (max-width: var.$laptop-m) {
        height: 280px;
    }

    @media (max-width: var.$tablet) {
        height: 240px;
        bottom: 35px;
    }

    @media (max-width: 620px) {
        bottom: 25px;
    }

    &.disappearance {
        display: none;
    }

    span {
        @media (max-width: var.$laptop-m) {
            font-size: 13px;
        }

        @media (max-width: var.$tablet) {
            font-size: 11px;
        }

        @media (max-width: 620px) {
            font-size: 11px;
        }
    }

    &__video-speed,
    &__video-skip {
        display: block;
        text-align: center;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            color: #bdae82;
        }

        &.active {
            background-color: #bdae82;
            &:hover {
                color: black;
            }
        }
    }

    &__header,
    &__close {
        display: block;
        transition: 0.5s;
    }

    &__header {
        text-align: center;
        cursor: default;
        padding-bottom: 10px;
        padding-top: 10px;
        &:hover {
            color: white;
        }
    }

    &__close {
        text-align: right;
        cursor: pointer;
        color: white;
        &:hover {
            color: #bdae82;
        }
    }
}
