.yandex-map {
    width: 50%;
  
    @media (max-width: 1024px) {
        width: 100%;
    }
    iframe {
        border-radius: 8px;
        width: 100%;
        aspect-ratio: 3/2;
    }
    #ymaps1651786334678464887 {
        width: 100%;
        aspect-ratio: 3/2;
    }
}