html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  padding: 0px;
  background-color: #fff;
}

body {
  position: relative;
}

.is-hidden {
  display: none;
}

img, a, span {
  display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../../../assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../../../assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../../../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../../../assets/fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../../../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../../../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat/Montserrat-Italic.eot");
  src: url("../../../assets/fonts/Montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"), url("../../../assets/fonts/Montserrat/Montserrat-Italic.woff") format("woff"), url("../../../assets/fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat/Montserrat-Light.eot");
  src: url("../../../assets/fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../../../assets/fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../../../assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
.header {
  color: wheat;
  font-family: "Montserrat";
}

:root {
  --primary-color:#455a64;
  --primary-light:#718792;
  --primary-dark: 111,111,111;
  --pane-padding: 5px 42px;
  --padding-primary: 40px;
}

.header {
  height: 70px;
  background-color: rgba(var(--primary-dark), 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header nav {
  width: 40%;
}
.header nav ul {
  display: flex;
  justify-content: space-around;
}

.start-screen {
  height: 100vh;
  position: relative;
  display: flex;
}
.start-screen h1,
.start-screen h2 {
  position: absolute;
  display: none;
}
.start-screen .background-video {
  position: absolute;
  right: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  max-height: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
}

/*# sourceMappingURL=main.css.map */
