html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: 400;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    display: block;
    padding: 0px;
    background-color: #fff;
}

body {
    position: relative;
    // background: rgba($color: black, $alpha: 0.5);
    background: var(--primary-color);
}

body.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

// .container {
//     max-width: 1280px;
//     margin: 0 auto;
// }

.is-hidden {
    display: none;
}

img,
a,
span {
    display: block;
}

.blackout {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 15;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.blackout.visible {
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
