@use "./fonts";
@use "../base/variables" as var;
*,
html,
body {
    font-family: "Montserrat";
    font-size: 32px;
    color: var(--primary-extra-light);
}
html {
    @media (max-width: var.$tablet) {
        font-size: 26px;
    }
    @media (max-width: var.$mobile-m) {
        font-size: 22px;
    }
    @media (max-width: var.$mobile-s) {
        font-size: 18px;
    }
}
a,
p,
div,
li,
button {
    font-size: 0.6rem;
}

.default-button {
    font-family: inherit;
    text-align: center;
    color: var(--primary-color);
    &:hover {
        color: var(--primary-extra-light);
    }
}

.title-wrapper {
    &__section-title {
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 2.5rem;
        text-align: center;
        color: var(--primary-gold);
        // color: var(--primary-extra-light);
        cursor: default;
    }
}

.header {
    &__contacts {
        font-size: 0.78rem;
    }
}

.menu {
    &__list-item {
        cursor: pointer;
    }

    &__list-item:nth-child(1):hover,
    &__link:hover {
        transition: 0.3s;
        color: var(--primary-light);
    }
}

.burger-menu {
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 51px;
        color: var(--primary-extra-light);
        transition: 0.5s;
        &:hover {
            transition: 0.5s;
            color: var(--primary-gold);
        }
    }
}

.slash {
    font-weight: 700;
    color: var(--primary-extra-light);
}

.en,
.ru {
    color: var(--primary-extra-light);
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
}

.en:hover,
.ru:hover,
.en.active,
.ru.active {
    color: var(--primary-gold);
}

/**************************************/

.start-screen {
    user-select: none;
    &__title {
        // color: #6f9898;
        // color: var(--primary-gold);
        font-size: 1.7rem;
        font-weight: bold;
        @media (max-width: var.$laptop) {
            font-size: 1.25rem;
        }
    }
    &__column-item {
        // color: #6f9898;
        // color: var(--primary-gold);
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.06em;
        @media (max-width: var.$tablet) {
            font-size: 0.8rem;
        }
    }
}

.prices {
    &__card-wrapper {
        &.hover {
            transition: 0.5s;
            border-color: var(--primary-gold);
        }
    }

    &__card {
        text-align: center;
        cursor: default;
    }

    &__card-title {
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--primary-light);
        &.hover {
            transition: 0.5s;
            color: var(--primary-gold);
        }
    }

    &__card-subtitle {
        font-size: 0.56rem;
        font-weight: 300;
    }

    &__price-tag {
        font-size: 0.875rem;
    }

    &__item-service {
        font-size: 0.68rem;
        font-style: italic;
    }
}

.footer__contacts-contacts {
    font-size: 0.68rem;
    line-height: 240%;
}
