:root {
  --primary-extra-light: #ffffff;
  --primary-color:#455a64;
  --primary-light:#718792;
  --primary-dark: 111,111,111;
  --primary-gold: #bdae82;
  --pane-padding: 5px 42px;
  --max-width:1440px;
  --padding-primary: 40px;
}