// @use "../base/variables";
// @use "../base/basic-styles";
// @use "../base/typography";
// @use "../layout/header";

@use "../base";
@use "../layout";
@use "../components";

#jpg {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    span {
        font-size: 10px;
    }
    z-index: 500;
}
#webp {
    position: fixed;
    bottom: 0;
    left: 240px;
    height: 20px;
    span {
        font-size: 10px;
    }
    z-index: 500;
}
.td-wrapper{
    width: 600px;
    height: 600px; 
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 60px;
    cursor: pointer;
    .block{
        width: 150px;
        height: 150px;
        border: 1px solid green;
        margin:0 auto;
    }
}
//sass --watch ./styles/sass:./styles/css
