.video-galery {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        min-height: 750px; //? alternative
        gap: 40px;

        .video-contacts {
            width: 100%;
            font-size: 20px;
            p {
                font-size: 17px;
            }

            a,
            span {
                display: inline-block;
                font-size: 17px;
            }
        }

        .video-description-wrapper {
            display: flex;
            align-items: flex-end;
            width: 25%;
        }

        .video-description {
            font-size: 18px;
        }

        .slide-content {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            column-gap: 130px;
            row-gap: 20px;
            @media (max-width: 1422px) {
                column-gap: 90px;
            }
        }

        .video-player__caption {
            margin-bottom: 20px;
            text-align: left;
            min-width: 660px;
        }

        .video-player__caption-subheader {
            font-size: 20px;
        }
    }

    &__container {
        width: 80%;
        // min-height: 60%;
        flex-grow: 1;
        position: relative;
        overflow: hidden;

        -webkit-transition: opacity 0.4s ease-out;
        -moz-transition: opacity 0.4s ease-out;
        -o-transition: opacity 0.4s ease-out;
        transition: opacity 0.4s ease-out;

        opacity: 1;
    }

    &__container-transition {
        opacity: 0;
    }
    
    &__slide-menu {
        padding-top: 100px;
        text-align: center;
        a {
            display: inline;
        }
    }

    &__active-section {
        font-weight: 800;
        border-bottom: 2px solid white;
        &:hover {
            border-bottom: 2px solid white;
        }
    }

    &__area {
        height: 400px;
        width: 110px;
        display: flex;

        position: absolute;
        top: 235px;

        cursor: pointer;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__area-right {
        right: 0px;
        &:hover {
            .video-galery__right-button {
                background: var(--primary-light);
            }
        }
    }

    &__area-left {
        left: 0px;
        &:hover {
            .video-galery__left-button {
                background: var(--primary-light);
            }
        }
    }

    &__right-button,
    &__left-button {
        height: 1.5rem;
        width: 1.5rem;
        margin: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;

        transition: 0.2s;
        border-radius: 50%;
        border: 0;
        background-color: var(--primary-extra-light);

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__arrow-left,
    &__arrow-right {
        width: 30%;
        height: 30%;
        fill: var(--primary-extra-dark);
    }
}