@use "../../base";
@use "../../base/variables" as var;

.prices {
    &__wrapper {
        max-width: var(--max-width);
        padding: 40px var(--padding-primary) 30px;
        margin: 0 auto;
    }

    &__cards-container {
        display: flex;
        // align-content: flex-start;
        align-items: center;
        justify-content: center;
        gap: 20px;
        @media (max-width: var.$laptop-m) {
            gap: 10px;
        }
        // @media (max-width: 1024px) {
        @media (max-width: 1080px) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }

    &__card-wrapper {
        width: 380px;
        padding: 15px 15px 30px;
        border-radius: 5px;

        &:nth-child(1),
        &:nth-child(3) {
            height: 600px;
            border: 2px solid var(--primary-light);
            &.hover {
                transition: 0.5s;
                border-color: var(--primary-gold);
            }

            @media (max-width: var.$laptop-m) {
                height: 540px;
            }

            @media (max-width: var.$tablet) {
                height: 500px;
            }

            @media (max-width: var.$mobile-s) {
                min-height: 425px;
            }
        }

        &:nth-child(2) {
            height: 625px;
            border: 3px solid var(--primary-light);
            &.hover {
                transition: 0.5s;
                border-color: var(--primary-gold);
            }

            @media (max-width: var.$laptop-m) {
                height: 590px;
            }

            @media (max-width: var.$laptop-m) {
                height: 550px;
            }

            @media (max-width: var.$mobile-s) {
                min-height: 460px;
            }
        }

        @media (max-width: var.$laptop-m) {
            width: 320px;
            padding: 10px;
        }

        @media (max-width: var.$tablet) {
            width: 310px;
            height: 500px;
        }

        @media (max-width: var.$mobile-m) {
            width: 290px;
        }

        @media (max-width: var.$mobile-s) {
            width: 95%;
            height: auto;
        }
    }

    &__table-wrapper {
        margin: 90px auto 50px auto;
    }

    &__button-wrapper {
        width: fit-content;
        position: relative;
        display: flex;
        justify-content: center;
        margin: 30px auto 0 auto;
        cursor: pointer;
    }

    &__price-list-button {
        height: 40px;
        width: 357px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: 0.5s;
        @media (max-width: var.$tablet) {
            height: 40px;
            width: 155px;
        }
        @media (max-width: var.$mobile-s) {
            width: 135px;
            height: 35px;
        }

        &:hover ~ .prices__button-svg {
            fill: #ffff00;
        }
    }

    &__price-list-button:hover &__button-text {
        color: #ffff00;
    }

    &__price-list-button.svg-button-is-hovered {
        background-color: var(--primary-light);
        .prices__button-text {
            color: #ffff00;
        }
    }

    &__button-text {
        font-family: inherit;
        font-size: 0.7rem;
        user-select: none;
        color: #000;
        transition: 0.5s;
        @media (max-width: var.$tablet) {
            font-size: 0.6rem;
        }
    }

    &__button-svg {
        position: absolute;
        bottom: -30px;
        left: calc(50% - 10px);
        width: 20px;
        height: 20px;
        fill: #000;
        transition: 0.5s;
        
        &.rotate {
            top: -27px;
            transform: rotate(180deg);
        }

        @media (max-width: var.$tablet) {
            height: 15px;
            width: 15px;
        }

        &:hover {
            fill: #ffff00;
        }
    }
}

.price-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: var.$mobile-m) {
        gap: 30px;
    }

    &__title {
        margin-bottom: 5px;
    }

    &__subtitle {
        margin-bottom: 25px;
    }

    &__price-tag {
        margin-bottom: 30px;
    }

    &__item-service {
        margin-bottom: 14px;
    }

    &__button {
        margin: 0 auto;
        height: 30px;
    }
}

.price-list {
    margin: 0 auto;
    width: 75%;
    overflow: hidden;
    max-height: 1140px; // ! transition depends on it
    transition: max-height 0.3s ease-in; // ! if you change the time - you need to change the timeout in script
    &.invisible {
        transition: max-height 0.3s ease-in;
        max-height: 0px;
    }

    &__header,
    &__subheader,
    &__row {
        display: flex;
        justify-content: space-between;
        border-radius: 3px;
        background-color: #95a5a6;
        gap: 10%;
        @media (max-width: var.$mobile-m) {
            gap: 3%;
        }
    }

    &__header,
    &__subheader {
        padding: 15px 30px;
        margin-top: 8px;
        margin-bottom: 8px;
        @media (max-width: var.$tablet) {
            padding: 10px 20px;
            // margin-top: 6px;
            // margin-bottom: 6px;  //!Начинают скакать расстояния между блоками wtf
        }
        @media (max-width: var.$mobile-m) {
            padding: 10px 10px;
        }
    }

    &__subheader {
        justify-content: center;
    }

    &__row {
        padding: 25px 30px;
        background-color: var(--primary-light);
        margin-bottom: 4px;
        @media (max-width: var.$tablet) {
            padding: 15px 20px;
            // margin-bottom: 3px; //!Начинают скакать расстояния между блоками wtf
        }
        @media (max-width: var.$mobile-m) {
            padding: 15px 10px;
        }
    }
    &__col-1 {
        flex-basis: 60%;
    }
    &__col-2 {
        flex-basis: 30%;
    }

    @media (max-width: var.$tablet) {
        width: 85%;
    }

    @media (max-width: var.$mobile-m) {
        width: 95%;
    }
}
