@use "../../base";
@use "../../base/variables" as var;

.start-screen {
    width: 100%;

    &__wrapper {
        position: relative;
        display: flex;
        padding: 55% var(--padding-primary) 0;
        overflow: hidden;
    }

    &__background-video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
        width: 100%;
        // max-height: 1200px;
        aspect-ratio: 16/9; // can i delete it?
    }

    &__container {
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: var.$laptop) {
            width: 90%;
        }
    }

    &__first-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: min-content;
    }

    &__second-column {
        height: 100%;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        width: min-content;
        @media (max-width: var.$mobile-m) {
            gap: 10px;
        }
    }

    &__column-item {
        &:nth-child(3) {
            margin-bottom: 20px;
        }
    }
}
